@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
  }

  .container{
    height: 100%;
  }
a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.headerContainer {
    border-bottom: 1px solid rgba(242, 129, 29, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    z-index: 2;
}

.logoContainer {
    margin-right: 5vw;
}

.logoContainer img {
    width: 50px;
}

.linkMenu {
    justify-content: space-around;
}

.linkMenu a {
    padding: 15px;
    color: #034C8C;
    font-weight: 600;
    font-size: 14px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

.iconContainer img {
    width: 50px;
}

.userInfoContainer {
    display: flex;
}

.userUnlogedContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.userUnlogedContainer .noLoginButton{
    background-color: #034C8C;
    width: 155px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.userUnlogedContainer .noLoginButton:hover{
    background-color: #035ba8;
}

.userInfoContainer a {
    margin-left: 5px;
    color: #034C8C;
}

.bannerContainer {
    margin-top: 70px;
}

.bannerBox {
    display: flex;
    background-color: #000000;
    height: 449px;
    align-items: center;
    justify-content: center;
}

.bannerBox input {
    background-color: transparent;
    width: 685px;
    height: 52px;
    margin-top: 60px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 0 16px 0 16px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.courseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.courseContainer div h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #78849E;
}

.courseLinkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseLinkContainer a {
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    margin-top: 20px;
    margin: 6px;
    font-size: 15px;
}
.fastAccessContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #E4E8F0;
    padding-bottom: 50px;
}
.fastAccessContainer div h2 {
    margin: 50px 0 30px 0;
    color: #78849E;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    width: 10vw;
    height: 145px;
    background-color: #FFFFFF;
    margin: 6px;
    border-radius: 10px;
    align-items: flex-end;
    padding: 0 0 10px 0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.card p {
    color: #1C4A87;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-left: 15px;
}
.secondBannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 50px;
}
.secondBannerBox {
    background-color: #000000;
    height: 370px;
    width: 950px;
    border-radius: 10px;
}

/* Esstilização dos cards abaixo do segundo banner  */

.imgCardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
    width: 80vw;
    position: relative;
    z-index: 0;
}

.cardLeft{
    background-color: rgba(256, 256, 256, 0.2);
    height: 466px;
    width: 98px;
    position: absolute;
    left: 0.25vw;
    transition: 1s;
}

.cardRight{
    background-color: rgba(256, 256, 256, 0.2);
    height: 466px;
    width: 98px;
    position: absolute;
    right: 0.25vw;
    transition: 1s;
}

.cardLeft:hover, .cardRight:hover{
    background-color: rgba(256, 256, 256, 0.5);
}

.imgCardsContainer .imgCard {
    height: 466px;
    width: 300px;
    background-color: #000000;
}

.imgCardsContainer .imgCard img{
    height: 466px;
    width: 300px;
}

/*  Esstilização do footer  */
.footerContainer {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0c2f52;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-top {
    background-color: #0c2f52;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 197px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-logo {
    align-self: center;
}

.footer-logo .footer-logo-senac {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-logo p {
    margin: 4px 0;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

.footer-logo strong {
    font-size: 20px;
}

.footer-bottom {
    background-color: #09263e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    font-size: 12px;
    height: 93px;
}

.copyright p {
    color: #FFFFFF;
}

.left-info p {
    color: white;
    width: 250px;
}

.social-icons {
    background-color: #072F54;
    height: 60px;
    width: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons img {
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1);
}

  @media (max-width: 768px) {
    .footer-menu {
      flex-direction: column;
      align-items: center;
    }

    .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }

    .social-icons {
      justify-content: center;
    }
  }
  /*                           Estilizacao do login                 */
.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 150px 0;
  background-color: transparent;

}
.loginContainer div h2 {
    margin: 50px 0 30px 0;
    color: #78849E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.loginBox{
    background-color: #FFFFFF;
    height: 400px;
    width: 500px;
    box-shadow: #000000 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    padding-bottom: 30px;


}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.loginForm input{
    width: 350px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: #000000 0px 0px 10px 0px;
}
.confirmInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgotPassword{
    display: flex;
    color: #1C4A87;
    font-weight: 500;
    font-size: 14px;
    margin-left: 200px;
}

.signinButton{
    display: flex;
    margin-top: 30px;
    background-color: #034C8C;
    height: 30px;
    width: 100px;
    color: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  .signinButton:hover{
    background-color: #0256a0;
  }

.confirmInfo button{
    width: 90px;
    height: 35px;
    background-color: #1C4A87;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.registerBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 500px;
    height: 50px;
    box-shadow: #000000 0px 0px 10px 0px;
    border-radius: 0 0 8px 8px;
}
.registerBox p{
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.register{
    margin-left: 10px;
    padding: 2px;
    border-radius: 5px;
}

.register a{
    color: #034C8C;
}

.navbar {
    display: flex;
    background-color: #3f51b5;
    padding: 10px;
    justify-content: space-around;
    height: 75px;
    margin: 100px 100px 200px 100px;
    border-radius: 10px 10px 0 0; /* Apenas topo esquerdo e direito */
    flex-direction: row;
    align-items: stretch;
    z-index: 5;
}

/* Container de cada item */
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* ESTICA submenu para igualar largura */
    position: relative;
    height: 100%;
    width: 120%;
    z-index: 1;
}

/* Link principal */
.profileContainer > a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: #3f51b5;
    border-radius: 0;
    z-index: 101;
    text-align: center;
    border-right: 1px solid rgb(231, 189, 49);
    border-left: 1px solid rgb(231, 189, 49);
    height: 100%;
}

/* Submenu */
.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* Submenu links */
.submenu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
}

.submenu a:hover {
    background-color: #5c6bc0;
}